<configuration>
  <system.webServer>
    <handlers>
      <clear />
        <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        <add name="staticFile" path="*" verb="*" allowPathInfo="true" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" />
    </handlers>
        <rewrite>
          <rules>
            <!-- Rule to rewrite image requests to the virtual directory -->
            <rule name="LocalizedImages" patternSyntax="ECMAScript" stopProcessing="true">
              <match url="^img/(.*)$" />
              <action type="Rewrite" url="/images/{R:1}" />
            </rule>
            <rule name="sendToNode">
              <match url=".*" />
                <conditions>
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
                  <add input="{URL}" pattern="\.(jpg|jpeg|png|webp|gif)$" negate="True" />
                </conditions>
              <action type="Rewrite" url="server.js" />
            </rule>
          </rules>
        </rewrite>
    <iisnode node_env="production" nodeProcessCountPerApplication="1" maxConcurrentRequestsPerProcess="1024" maxNamedPipeConnectionRetry="100" namedPipeConnectionRetryDelay="250" maxNamedPipeConnectionPoolSize="512" maxNamedPipePooledConnectionAge="30000" asyncCompletionThreadCount="0" initialRequestBufferSize="4096" maxRequestBufferSize="65536" watchedFiles="*.js;iisnode.yml" uncFileChangesPollingInterval="5000" gracefulShutdownTimeout="60000" loggingEnabled="true" logDirectory="iisnode" debuggingEnabled="true" debugHeaderEnabled="false" debuggerPortRange="5058-6058" debuggerPathSegment="debug" maxLogFileSizeInKB="128" maxTotalLogFileSizeInKB="1024" maxLogFiles="20" devErrorsEnabled="true" flushResponse="false" enableXFF="false" promoteServerVars="" configOverrides="iisnode.yml" nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
        <httpErrors existingResponse="PassThrough" />
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type" />
            </customHeaders>
        </httpProtocol>
  </system.webServer>
</configuration>