name: Approve & Deploy

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: [ main ]

permissions:
  pull-requests: read
  contents: read
  deployments: write

jobs:

  approval:
    runs-on: ubuntu-latest
    environment:
      name: production   # triggers approval rules
    steps:
      - uses: actions/checkout@v4

      - name: Display PR Details
        env:
          PR_NUM: ${{ github.event.pull_request.number }}
        run: |
          echo "PR Number: $PR_NUM"
          echo "Title: ${{ github.event.pull_request.title }}"
          echo "Author: ${{ github.event.pull_request.user.login }}"

  deploy:
    needs: approval
    if: ${{ github.event.pull_request.merged == true }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deploy to ECS
        run: |
          echo "Deploying version..."
