name: Build & Create PR

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  packages: write

env:
  # Variables
  IMAGE_NAME: ${{ vars.IMAGE_NAME }}
  NODE_ENV: ${{ vars.NODE_ENV }} 
  AWS_REGION: ${{ vars.AWS_REGION }}
  ECS_CLUSTER: ${{ vars.ECS_CLUSTER }}
  ECS_SERVICE: ${{ vars.ECS_SERVICE }}
  TASK_FAMILY: ${{ vars.TASK_FAMILY }}
  INFLUXDB_USER: ${{ vars.INFLUXDB_USER }}
  INFLUXDB_URL: ${{ vars.INFLUXDB_URL }}
  INFLUXDB_DB: ${{ vars.INFLUXDB_DB }}
  GHCR: ${{ vars.GHCR }}
  GHCR_USER: ${{ vars.GH_USER }}
  GH_PAT: ${{ secrets.GH_PASS }}
  

  # Secrets
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  INFLUXDB_PASS: ${{ secrets.INFLUXDB_PASS }}

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      pr_branch: ${{ steps.create_pr.outputs.pr_branch }}

    steps:
      - uses: actions/checkout@v4

      - name: Bump version
        run: |
          CURRENT=$(jq -r ".version" package.json)
          IFS="." read -r MAJOR MINOR PATCH <<< "$CURRENT"
          PATCH=$((PATCH+1))
          NEW="$MAJOR.$MINOR.$PATCH"
          jq --arg v "$NEW" '.version=$v' package.json > tmp.json
          mv tmp.json package.json
          echo "NEW_VERSION=$NEW" >> $GITHUB_ENV

      - name: Commit & push version bump
        run: |
          BRANCH="bump-v${NEW_VERSION}-${{ github.run_id }}"
          echo "pr_branch=$BRANCH" >> $GITHUB_OUTPUT
          git switch -c $BRANCH
          git add package.json
          git commit -m "ci: version bump to $NEW_VERSION"
          git push origin $BRANCH

      - name: Configure git identity
        run: |
          git config --global user.name "dylanrmrz"
          git config --global user.email "dylan.ramirez@lansa.com"

      - name: Create PR
        id: create_pr
        env:
          GH_TOKEN: ${{ env.GH_PAT }}
        run: |
          BRANCH=$(git branch --show-current)
          echo "pr_branch=$BRANCH" >> $GITHUB_OUTPUT

          gh pr create \
            --title "ci: release v${NEW_VERSION}" \
            --body "Automated version bump" \
            --base main \
            --head $BRANCH \
            --reviewer dv-lansa,Lansa-jerson
